:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  --cyan-ocean: #00bfe9;
  --blue-ocean: #00217f;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
  /* Auto Colors */
  --beau-blue: #c8d8e4ff;
  --honeydew: #e1eeddff;
  --lapis-lazuli: #336699ff;
  --charcoal: #2f4858ff;
  --international-orange-aerospace: #fe5d26ff;
  --amazon: #4a7c59ff;
  --copper: #a8763eff;
  --bdazzled-blue: #1857a4ff;
  --byzantium: #7a3b69ff;
  /* Custom Text Colors */
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;

  // Minesweeper Game Board Vars
  --easy-cell-size: 3rem;
  --easy-board-size: 8;

  --intermediate-cell-size: 2rem;
  --intermediate-board-size: 16;

  --expert-cell-size: 1.5rem;
  --expert-board-size: 24;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  background-color: var(--pale-green);
}

main {
  height: 100vh;
  // height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  display: flex;
}

.easy {
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  letter-spacing: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  display: flex;

  &.easy p {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    z-index: 2;
  }

  &:hover p {
    color: white;
    letter-spacing: normal;
  }

  &.easy span {
    transform: translateX(-200px) translateY(-10px);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: green;
  }

  &.easy:hover span {
    transform: translateY(-10px);
    border-radius: 50px;
  }

  &.easy div {
    display: none;
    height: 30px;
  }

  &.easy svg {
    height: 30px;
    width: auto;
  }

  &.easy:hover div {
    display: block;
    border: 3px solid black;
    z-index: 2;
    border-radius: 50px;
  }
}

.easy-span {
  cursor: pointer;
  position: absolute;
  width: 150px;
  height: 60px;
  z-index: 1;
  left: 0;
  transition: 0.2s linear;
}

.intermediate {
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  letter-spacing: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  display: flex;

  &.intermediate p {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    z-index: 2;
  }

  &:hover p {
    color: white;
    letter-spacing: normal;
  }

  &.intermediate span {
    transform: translateY(60px);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: orange;
  }

  &.intermediate:hover span {
    transform: translateY(-10px);
    border-radius: 50px;
  }

  &.intermediate div {
    display: none;
    height: 30px;
  }

  &.intermediate svg {
    height: 30px;
    width: auto;
  }

  &.intermediate:hover div {
    display: block;
    border: 3px solid black;
    z-index: 2;
    border-radius: 50px;
  }
}

.intermediate-span {
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 60px;
  z-index: 1;
  left: 0;
  transition: 0.2s linear;
}

.expert {
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  letter-spacing: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  display: flex;

  &.expert p {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    z-index: 2;
  }

  &:hover p {
    color: white;
    letter-spacing: normal;
  }

  &.expert span {
    transform: translateY(-115px);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background: red;
  }

  &.expert:hover span {
    transform: translateY(-10px);
    border-radius: 50px;
  }

  &.expert div {
    display: none;
    height: 30px;
  }

  &.expert svg {
    height: 30px;
    width: auto;
  }

  &.expert:hover div {
    display: block;
    border: 3px solid black;
    z-index: 2;
    border-radius: 50px;
  }
}

.expert-span {
  cursor: pointer;
  position: absolute;
  width: 170px;
  height: 60px;
  z-index: 1;
  left: 0;
  transition: 0.2s linear;
}

section {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  padding-bottom: 20px;
  // border-radius: 50px;

  &.difficulty-0 {
    grid-template-columns: repeat(var(--easy-board-size), 1fr);
    grid-template-rows: repeat(var(--easy-board-size), 1fr);
    width: calc(var(--easy-board-size) * var(--easy-cell-size));
    height: calc(var(--easy-board-size) * var(--easy-cell-size));
    // border-radius: 50px;

    & button {
      width: var(--easy-cell-size);
      height: var(--easy-cell-size);
      // cursor: pointer;

      &.cell-number {
        font-weight: bold;
        font-size: 1.7rem;
      }
    }
  }

  &.difficulty-1 {
    grid-template-columns: repeat(var(--intermediate-board-size), 1fr);
    grid-template-rows: repeat(var(--intermediate-board-size), 1fr);
    width: calc(var(--intermediate-board-size) * var(--intermediate-cell-size));
    // padding-bottom: 20px;

    & button {
      width: var(--intermediate-cell-size);
      height: var(--intermediate-cell-size);
      // cursor: pointer;

      &.cell-number {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }

  &.difficulty-2 {
    grid-template-columns: repeat(var(--expert-board-size), 1fr);
    grid-template-rows: repeat(var(--expert-board-size), 1fr);
    width: calc(var(--expert-board-size) * var(--expert-cell-size));

    & button {
      width: var(--expert-cell-size);
      height: var(--expert-cell-size);
      // cursor: pointer;

      &.cell-number {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  & button {
    margin: 0;
    padding: 0.5;
    background-color: grey;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: grab;
  }

  & button:hover {
    background-color: transparent;
  }

  & button:active {
    cursor: grabbing;
  }
}

button svg {
  height: 100%;
  width: auto;
}

button.cell-number {
  color: white;
}

button.cell-bomb {
  background-color: #c333;
  cursor: not-allowed;
  // color: #f00;
}

button.cell-flag {
  background-color: #c8d8e4;
  cursor: not-allowed;
  // color: green;
}

button.cell-free {
  background-color: #b6b6b6;
  cursor: not-allowed;
}

@for $i from 1 through 8 {
  button.cell-#{$i} {
    // Multiply by 45 to handle 8 colors
    color: hsl($i * 45, 100%, 50%);
  }
}

// button.cell-1 {
//   color: red;
// }

// button.cell-2 {
//   color: pink;
// }

// button.cell-3 {
//   color: orange;
// }

footer img {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  padding: 3px 3px 0px 3px;
  /* padding-top: 3px; */
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  /* padding-bottom: none; */
  background-color: var(--slate);
  color: black;
  // display: block;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  /* width: 100%; */
  /* color: #fff; */
}
